* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}
#header .navigation {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
#header .navigation ul {
     list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: medium;
}
#header .navigation .image {
    padding-top: 16px;
    width: 139px;
    height: 60px;
}
#header .navigation button {
    width: 164px;
    height: 44px;
    background-color: #469165;
    /* corner-radius: 6px; */
    border-radius: 6px;
    cursor: pointer;
}
#header .navigation .btn-text {
    padding: 12.5px 16px;
}
#banner .banner-body {
width: 1600px;
height: 675px;
align-items: top center;
gap: 40px;
}

#banner .banner-heading {
    width: 770px;
height: 168px;
font-family: Inter;
font-style: Bold;
font-size: 36px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align:top center;

text-transform: capitalize;
opacity: 0.9;

  width: 770px;
  white-space: normal;
  word-break: break-word;

}
#banner .banner-heading .change-color {
    color: #30B868;
}

#banner .banner-heading h1 {
    color: white;

}

#banner .banner-body p {
font-style: Regular;
font-size: 28px;
font-weight: 200;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;

}

#banner {
    margin: 0 auto;
}

#button-with-img {
    width: 465px;
    height: 52px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;


}
#button-with-img button {
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    cursor: pointer;
}
#button-with-img img {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
}
#button-with-img .buttton-one {
    background-color: #469165;
}
#button-with-img .button-last {
    background-color: #85b1de;
}







.access {
  display: inline-flex;
  align-items: center;
  gap: 8px;
padding: 8px 12px;
  background: #ffffff;

  border-radius: 999px;
  border: 1px solid #c8e6c9;

  color: #2e7d32;
  font-size: 16px;
  font-weight: medium;
 
}

.banner-body .banner-heading {
font-family: Inter;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

width: 770px;
height: 168px;
 
opacity: 0.9;


}


.icon {
  width: 18px;
  height: 18px;
  background: #e8f5e9;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  width: 8px;
  height: 8px;
  background: #4caf50;
  border-radius: 50%;
}
.text {font-size: 16px ;
    
}
#banner {
    width: 1600px;
    height: 675px;
    background:url(resourse/assets/hero-bg.png);
    align-items: center;
}
#banner .banner-body {
    width: 1360px;
    height: 379px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 115px 120px 180px 120px;
}

#banner .text {
       font-family: Inter;
font-style: bold;
font-size: 74px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
}
.access p {
    color: rgba(255, 255, 255, 1);
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
padding-top:  106px;
padding-bottom: 100px;

}
.button-with-img {
width: 465px;
height: 52px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 16;
font-size: 18px;
font-size: 16;
font-weight: 600px;
background-color: #4caf50;

}

.button-with-img button {
    background-color: none;
    padding: 12.5px 16px;
}





#nodes {
width: 1600px;
height: 448px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 44;
padding: 120px;
margin: 0 auto;

}
#nodes .fail-nodes {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;

}
#nodes .bad-paragraph {
font-size: 16px;
font-weight: regular;
color:#627382;
padding-bottom: 44px;
}
 
#nodes .Structure-card {
display: flex;
justify-content: center;
align-items: center;
/* border: 1px solid red; */
gap: 16PX;
padding: 24px;
width: 1360px;
height: 300px;

}

#nodes .Structure-card .card-all {
   /* box-shadow: 3px 4px white; */
    width: 322px;
    height: 300px;
    padding: 24px;
    gap: 16px;
     background: #fff;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  display: flex;
flex-direction: column;
/* justify-content: flex-start;
align-items: flex-start; */


}
#nodes .Structure-card .card-all button {
    justify-content: center;
    align-items: center;
    padding: 24px;

}

#nodes .Structure-card .card-all h3 {
    font-size: 24px;
    font-weight: 600px;
    align-items: center;
    justify-content: center;
}
.card-all img {
    width: 60px;
    height: 60px;
    display: flex;
    background-color: #F95555;
   border-radius: 50%;
    justify-content: center;
    align-items: center; 
    /* padding: 70px 131px 170px 131px; */
}
.card-all {
    align-items: center;
    justify-content: center;
    padding: 24px;
}



#brain {
    width: 1600px;
    height: 840px;

}

#brain .brain-section {
        width: 1360px;
    height: 600px;
gap: 60px;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding-top: 120px;

}

#brain .brain-section .brain-image {
width: 600px;
height: 600px;
border-radius: 12px;

}

#brain .brain-section .brain-text {
width: 700px;
height: 397px;

}
#brain .brain-section .brain-text .brain-solution {
    width: 700px;
    height: 229px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
}
#brain .brain-section .brain-text .brain-solution p {
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #469165; 
    padding-bottom: 16px;
}
#brain .brain-section .brain-text .brain-solution h2 {
    font-size: 58px;
    font-weight: bold;
    line-height: 20px;
    color: #001931; 
    padding-bottom: 16px;
    line-height: 58px;
}
#brain .brain-section .brain-text .brain-solution span {
    font-size: 16px;
    line-height: 20px;
    color: #627382; 
    padding-bottom: 20px;
font-family: Inter;
    
}
.brain-pic-inline {
    /* width: 700px;
height: 128px; */
/* display: flex;
flex-direction: column; */
/* justify-content: flex-start;
align-items: flex-start; */
/* display: none; */
/* gap: 16; */
display: inline;
}


#ready {
    width: 1360px;  
    height: 384px;
   display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
padding: 80px 40px;
margin: 0 auto;
border-radius: 12px;
background: rgba(247, 246, 242, 1);


}
#ready .ready-body .ready-text {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;

}
#ready .ready-body .ready-text h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 16px;
}
#ready .ready-body .ready-text p {
 font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    margin: 0 auto;
    color: #627382;
    padding-bottom: 24px;

}
/* .ready-button {
     width: 164px;
    height: 44px;
    background-color: #469165;
    /* corner-radius: 6px; */
    /* border-radius: 6px;
    margin: 0 auto; */
    
/* }
.ready-button button {
       background-color: #469165;
    padding: 12.5px 29px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 16px; */ 
/* } */
.ready-body .ready-button button {
    width: 194px;
height: 52px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
background-color: #30B868;
cursor: pointer;
}
.ready-body .ready-button p {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

#ready .ready-body .span-ready {
    font-size: 16px;
    font-weight: Regular;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
.ready-button{
    margin: 0 600px;
}
 .free-last {
    margin: 0 auto;
    /* border: 1px solid blue; */
text-align: center;
padding-top: 16px;
 }

 #footer-section {

width: 1600px;
height: 370px;
background-color: #001931;
 }

 #footer-section .footer-body {

width: 1360px;
height: 86px;
margin: 0 auto;
/* display: flex; */

 }
 #footer-section .footer-body .footer-icon {
   display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 120px 120px 164px 120px;
 }
 .footer-icon ul {
    list-style: none;
    display: flex;
    gap: 20px  ;
 }
 .footer-icon p {
font-size: 20px;
line-height: 28px;
color: #FFFFFF;

 }
 .copywrite {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    /* padding-bottom: 20px; */
 }